<div class="container-fluid w-75 mt-5 border-top pt-5">
    <div class="row">
        <div class="col-lg-12">
            <h4>Contact</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptatum amet aperiam impedit
                natus, minus quis vero autem ducimus eligendi maxime ipsum provident laborum id optio, quae, vitae
                magnam eius nam totam blanditiis dolores quos. Vero assumenda eos molestiae qui similique doloremque
                aspernatur reiciendis tempore ab. Ducimus quam officiis, officia similique impedit repellat quos
                voluptatem perspiciatis vero laudantium molestiae atque ea ad, dolor illo hic modi sunt nobis ipsum!
                Aperiam.</p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="w-75 bg-secondary bg-gradient m-auto mt-2 pt-2 rounded-1">

            <div class="row mb-3 mt-3">
                <div class="col-lg-2 p-0 d-flex justify-content-end">
                    <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                </div>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-lg-2 p-0 d-flex justify-content-end">
                    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                </div>
                <div class="col-lg-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-end mb-3 mt-3">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>