<div class="container-fluid mt-5 mb-5 w-75 border-top pt-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center" style="background-image: url(../assets/img/1.jpg);">
            <img class="rounded-circle" src="https://picsum.photos/350/350" alt="">
         </div>
        <div class="col-lg-8">
            <h4 class="fw-bold">This Second Heading <span class="text-white-50">Is Pretty Cool Too.</span></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum atque illo odio veniam, porro soluta! Vel deleniti dolore tenetur est ipsa fuga laudantium quidem iure dolores, dignissimos perspiciatis eaque esse provident voluptatibus. Dicta, odit eius blanditiis obcaecati praesentium animi beatae laboriosam soluta optio dolores quaerat voluptatum nam incidunt nemo assumenda?</p>
        </div>
       
       
    </div>
</div>