<div class="position-relative p-0 m-0">
    <img src="https://picsum.photos/2300/1100" style="object-fit: contain;" alt="skyline">
    <div class="position-absolute top-0 start-0 translate-middle"></div>
    <div class="position-absolute top-0 start-50 translate-middle"></div>
    <div class="position-absolute top-0 start-100 translate-middle"></div>
    <div class="position-absolute top-50 start-0 translate-middle"></div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1>One Page Wonder</h1>
        <h2>Will Knock Your Socks Off</h2>
    </div>
    <div class="position-absolute top-50 start-100 translate-middle"></div>
    <div class="position-absolute top-100 start-0 translate-middle"></div>
    <div class="position-absolute top-100 start-50 translate-middle"></div>
    <div class="position-absolute top-100 start-100 translate-middle"></div>
  </div>